{% extends "admin/base_site.html" %}
{% load admin_urls i18n static %}

{% block extrahead %}{{ block.super }}
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
<style type="text/css">
    #map {
        width: 100%;
        height: 600px;
    }
</style>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; {% trans 'Map' %}
    </div>
{% endblock %}

{% block content %}
    <div id="content-main">
        <div id='map'></div>
    </div>
    <script>
        var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
        var osm = new L.TileLayer(osmUrl, {attribution: osmAttrib});
        var map = L.map('map').setView(L.latLng(52.520008, 13.404954), 8);
        var range_start = {% if range_start %}'{{ range_start | escapejs }}'{% else %}null{% endif %};
        var range_end = {% if range_end %}'{{ range_end | escapejs }}'{% else %}null{% endif %};
        var format = {% if format %}'{{ format | escapejs }}'{% else %}null{% endif %};
        var geoJsonURL = '../geojson/?';
        if (range_start) {
            geoJsonURL += 'start=' + range_start + '&';
        }
        if (range_end) {
            geoJsonURL += 'end=' + range_end + '&';
        }
        if (format) {
            geoJsonURL += 'format=' + format + '&';
        }
        map.addLayer(osm);


        fetch(geoJsonURL, {
            credentials: 'same-origin'
        }).then(function(response) {
            return response.json();
        }).then(function(json) {
            options = {}
            if (format === 'points') {
                options.onEachFeature = function (feature, layer) {
                    if (feature.properties) {
                        var props = feature.properties;
                        var popupString = '<div class="popup">';
                        popupString += '<b>ID:</b> ' + props.id;
                        for (var k in props.data) {
                            var v = props.data[k];
                            popupString += '<br /><b>' + k + ':</b> ' + v;
                        }
                        popupString += '</div>';
                        layer.bindPopup(popupString);
                    }
                }
            } else {
                options.style = function (feature) {
                    return {
                        color: feature.properties.color,
                    }
                }
            }
            var geojsonLayer = L.geoJSON(json, options).addTo(map);
            if (json.features[0].geometry.coordinates.length > 0) {
                map.fitBounds(geojsonLayer.getBounds());
            }
        });
    </script>
{% endblock %}
